JARVIS/.vs/JARVIS/FileContentIndex/4f246602-4aec-4afa-9c20-2921840e203c.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/593bdebb-6198-4f8a-8f41-669c40b2f2c8.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/e03b3eac-0577-4caf-839d-c77835f0f5ed.vsidx
JARVIS/JARVIS/appsettings.json
JARVIS/JARVIS/obj/Debug/net9.0/JARVIS.AssemblyInfoInputs.cache
JARVIS/JARVIS/obj/Debug/net9.0/JARVIS.AssemblyInfoInputs.cache
JARVIS/.vs/JARVIS/DesignTimeBuild/.dtbcache.v2
JARVIS/.vs/JARVIS/FileContentIndex/2c755392-fa64-48c1-b532-b20ca53ac2f8.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/53ad11c3-043d-4758-bcf6-c14f6090470f.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/6bfd2c37-4d04-48ec-9268-74450fde69c7.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/dbfad2c9-7dc9-4142-b0c2-96f56fbd82fd.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/fded6773-e39c-41d6-bd8e-c81fdc99a71b.vsidx
JARVIS/.vs/JARVIS/v17/.suo
JARVIS/JARVIS/bin/Debug/net9.0/JARVIS.runtimeconfig.json
JARVIS/JARVIS/bin/Debug/net9.0/JARVIS.pdb
JARVIS/JARVIS/bin/Debug/net9.0/JARVIS.exe
JARVIS/JARVIS/bin/Debug/net9.0/JARVIS.dll
JARVIS/JARVIS/bin/Debug/net9.0/JARVIS.deps.json
JARVIS/JARVIS/Audio/AmbientAudioMonitor.cs
JARVIS/.vs/JARVIS/v17/DocumentLayout.json
JARVIS/.vs/JARVIS/v17/DocumentLayout.backup.json
JARVIS/.vs/JARVIS/v17/.suo
JARVIS/.vs/JARVIS/FileContentIndex/1fb1dd03-9e16-47b7-b9dd-c1fbcbe07f6b.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/7c8943aa-c682-4f6d-a3fb-9b81c7244c23.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/29b32938-65ab-459d-95c7-f9c02859b613.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/9561522d-36e0-4df1-bb32-e9db414dc6f5.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/a02a1702-6a05-40a7-af2e-09ce404e297c.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/acd28462-3ad8-45ff-b5c5-8c7f6a199238.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/c4c4d18b-f10c-4927-8755-6639da6975b0.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/fda1e80c-f8d9-4745-b77e-f03e499d6958.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/19030b97-498c-40e3-a819-81ebdbd8f1de.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/1b929199-2c0e-45c4-9db7-b48099f0a04e.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/41644d01-0bdc-48ad-a7b0-a7db7c3421c9.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/a21a3c53-cab8-409d-8f67-d151be6a3aa1.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/a811a14b-ad4b-4c10-9253-960f63d5e033.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/ede90540-4fdb-453e-a23b-855a3ce8e52f.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/52e634a7-d4c3-45b6-b2b2-60b4066bb483.vsidx
/JARVIS/.vs/JARVIS/FileContentIndex
/JARVIS/.vs/JARVIS/v17
/JARVIS/JARVIS/bin
