JARVIS/.vs/JARVIS/FileContentIndex/4f246602-4aec-4afa-9c20-2921840e203c.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/593bdebb-6198-4f8a-8f41-669c40b2f2c8.vsidx
JARVIS/.vs/JARVIS/FileContentIndex/e03b3eac-0577-4caf-839d-c77835f0f5ed.vsidx
JARVIS/JARVIS/appsettings.json
JARVIS/JARVIS/obj/Debug/net9.0/JARVIS.AssemblyInfoInputs.cache
JARVIS/JARVIS/obj/Debug/net9.0/JARVIS.AssemblyInfoInputs.cache
